<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.wanmenzy.timelapse</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>timelapse</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>https</string>
	</array>
	<key>NSUserNotificationUsageDescription</key>
	<string>We need to send you notifications about your upcoming events and milestones.</string>
	<key>StoreKit</key>
	<dict>
		<key>Configuration</key>
		<string>Products</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Galgo.ttf</string>
		<string>Inter.ttf</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>fire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fire-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>splick</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>splick-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
