<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Galgo.ttf</string>
		<string>Inter.ttf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>https</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.wanmenzy.timelapse</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>timelapse</string>
			</array>
		</dict>
	</array>
	<key>StoreKit</key>
	<dict>
		<key>Configuration</key>
		<string>Products</string>
	</dict>
</dict>
</plist>
